@font-face {
  font-family: Berrylicious;
  src: url(../font/Berrylicious.otf);
}

.berry {
  font-family: Berrylicious;
}

html,
body,
p {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 200;
}

a {
	color: #09c;
}

a:hover {
	color: #0cf;
}

.bg-1, 
.bg-2,
.bg-3,
.bg-4 {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.bg-1 {
  background-image: url(../img/bg-img-1.png);
}

.bg-1 p {
	color: #fff;
	letter-spacing: 2px;
	margin: 0 auto 50px;
	padding: 0 20px;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.bg-2 {
  background-color: #f39;
}

.bg-3 {
  background-image: url(../img/bg-img-3.png);
}

.bg-4 {
	background-color: #0cf;
}

.bg-5 {
	background-color: #09c;
}

.bg-6 {
	background-color: #069;
}

h1.berry {
  color: #fff;
	font-size: 10em;
	line-height: .8em;
	margin: 0 auto;
	padding: 320px 0 0;
	text-align: center;
	text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #fff;
	font-weight: 100;
	margin: 0;
	padding: 0 20px;
	text-align: center;
}

h3 {
	font-weight: 200;
	padding: 10px 0 5px;
}

h4 {
	font-size: 32px;
	font-weight: 200;
	line-height: 135%;
}

h5 {
	font-weight: 300;
}

p {
	font-weight: 300;
}

.nav-bg {
	background: rgba(76, 175, 80, 0.5);
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bg-1, .bg-2, .bg-3 {
    background-attachment: scroll;
  }
}

.carousel-inner {
	background: #f39;
	min-height: 200px;
}

.carousel-item {
	margin: 0 auto 40px !important;
	max-height: 550px;
	max-width: 825px;
	width: 90%;
}

.carousel-item img {
	height: 100%;
	width: 100%;
}

.white {
	color: #fff;
}

.mh12 {
	margin: 0 12px;
}

.mv30 {
	margin: 30px 0;
}

.mb45 {
	margin-bottom: 45px;
}

.ph30 {
	padding: 0 30px;
}

.pv30 {
	padding: 30px 0;
}

.footer {
	color: #9cf; 
	font-size: 14px; 
	padding: 10px 0;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	h1.berry {
		font-size: 12em;
		padding: 360px 0 40px;
	}
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
	h1.berry {
		font-size: 12em;
		padding: 400px 0 40px;
		}
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
	h1.berry {
		font-size: 14em;
		padding: 440px 0 40px;
	}
}